html, body, #out {
  position: relative;
  margin: 0;
  height: auto;
  width: 100%;
  background: black;

  background-size: 100% auto;
}

#in {
  width: 100%;
  margin: 0;
  -webkit-mask-image: url(eyes.png);
          mask-image: url(eyes.png);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 450px;
          mask-size: 450px;
  cursor: none;
}

* {
  box-sizing: border-box;
}
